# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Folder
/build/
/include/boost
/lib/libboost*
/lib/cmake
/boost_1_75_0/b2
/boost_1_75_0/bin.v2/
/boost_1_75_0/project-config.jam*
/boost_1_75_0/stage/
/boost_1_75_0/tools/build/src/engine/b2
/boost_1_75_0/tools/build/src/engine/bjam

# Config
/.vscode/
/.vs/